name: push project

on: 
  pull_request:
    types: 
      - opened
      - edited
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-node@v6
          with:
            node-version: 18
        - name: install dependencies
          run: npm ci
        - name: build
          run: npm run build
        - name: test
          run: npm run test
        - name: lint
          run: npm run lint
